{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block 'title' %}Planeje seu evento!{% endblock %}

{% block 'dashboard' %}
    <div class="banner-g">
        <label for="title-home-1">Eventos em destaque</label>
        <div class="banner-container-g" id="banner-img" onmousedown="startDrag(event)">
            <div class="banner">
                <div class="banner-image">
                    <img src="{% static 'images/placeholder2.jpg' %}" alt="Banner 1">
                <label for="teste">Banner 1</label>
                </div>
            </div>            
            <div class="banner">

            </div>
            <div class="banner">

            </div>
            <div class="banner">

            </div>
            <div class="banner">

            </div>
        </div>
    </div>

    <div class="banner-p">
        <label for="title-home-2">Eventos por Categoria</label>
        <div class="banner-container-p" id="banner-cat" onmousedown="startDragP(event)">
            <div class="banner-cat">
                <div class="banner-cat1" href="#">
                <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                <label for="name">Tecnologia</label>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat2" href="#">
                    <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                    <label for="name">Saúde</label>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat3" href="#">
                    <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                    <label for="name">Educação</label>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat4" href="#">
                    <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                    <label for="name">Esporte</label>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat5" href="#">
                    <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                    <label for="name">Cultura</label>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat6" href="#">
                    <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                    <label for="name">Gastronomia</label>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat7" href="#">
                    <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                    <label for="name">Negócios</label>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat8" href="#">
                    <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                    <label for="name">Moda</label>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat9" href="#">
                    <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                    <label for="name">Arte</label>
                    </div>
        </div>
    </div>
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
