{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block 'title' %}Planeje seu evento!{% endblock %}

{% block 'dashboard' %}
    <div class="banner-principal">
        <label for="title-home-1">Eventos em destaque</label>
        <div class="banner-container-g" id="banner-img" onmousedown="startDrag(event)">
            <div class="banner">
                <div class="banner-image">
                    <img src="{% static 'images/placeholder11.jpg' %}" alt="Banner 1">
                <label for="name">Banner 1</label>
                </div>
            </div>            
            <div class="banner">
                <div class="banner-image">
                    <img src="{% static 'images/placeholder12.jpg' %}" alt="Banner 2">
                <label for="name">Banner 2</label>
                </div>
            </div>
            <div class="banner">
                <div class="banner-image">
                    <img src="{% static 'images/placeholder13.jpg' %}" alt="Banner 3">
                <label for="name">Banner 3</label>
                </div>
            </div>
            <div class="banner">
                <div class="banner-image">
                    <img src="{% static 'images/placeholder14.jpg' %}" alt="Banner 4">
                <label for="name">Banner 4</label>
                </div>
            </div>
            <div class="banner">
                <div class="banner-image">
                    <img src="{% static 'images/placeholder15.jpg' %}" alt="Banner 5">
                <label for="name">Banner 5</label>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-p">
        <label for="title-home-2">Eventos por Categoria</label>
        <div class="banner-container-p" id="banner-cat" onmousedown="startDragP(event)">
            <div class="banner-cat">
                <div class="banner-cat1">
                <a href="{% url 'home' %}">
                <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                <label for="name">Tecnologia</label>
                </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat2">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder2.jpg' %}" alt="Categoria 2">
                    <label for="name">Saúde</label>
                    </a>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat3">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder3.jpg' %}" alt="Categoria 3">
                    <label for="name">Educação</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat4">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder4.jpg' %}" alt="Categoria 4">
                    <label for="name">Esportes</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat5">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder5.jpg' %}" alt="Categoria 5">
                    <label for="name">Cultura</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat6">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder6.jpg' %}" alt="Categoria 6">
                    <label for="name">Gastronomia</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat7">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder7.jpg' %}" alt="Categoria 7">
                    <label for="name">Negócios</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat8">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder8.jpg' %}" alt="Categoria 8">
                    <label for="name">Moda</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat9">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder9.jpg' %}" alt="Categoria 9">
                    <label for="name">Arte</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat10">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder10.jpg' %}" alt="Categoria 10">
                    <label for="name">Outros</label>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-p">
        <label for="title-home-3">Eventos relacionados ao seu gosto</label>
        <div class="banner-container-p" id="banner-cat" onmousedown="startDragP(event)">
            <div class="banner-cat">
                <div class="banner-cat2">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder2.jpg' %}" alt="Categoria 2">
                    <label for="name">Saúde</label>
                    </a>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat3">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder3.jpg' %}" alt="Categoria 3">
                    <label for="name">Educação</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat6">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder6.jpg' %}" alt="Categoria 6">
                    <label for="name">Gastronomia</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat9">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder9.jpg' %}" alt="Categoria 9">
                    <label for="name">Arte</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat10">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder10.jpg' %}" alt="Categoria 10">
                    <label for="name">Outros</label>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-s">
        <label for="title-home-4">Eventos nos próximos dias</label>
        <div class="banner-container-s" id="banner-s" onmousedown="startDragS(event)">
            <div class="banner-storie">
                <div class="banner-s1">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder11.jpg' %}" alt="Categoria 1">
                    <label for="name">Vaqueijada - 31/02</label>
                    </a>
                </div>
            </div>
            <div class="banner-storie">
                <div class="banner-s2">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder14.jpg' %}" alt="Categoria 2">
                    <label for="name">Evento de Nerd - 11/11</label>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-p">
        <label for="title-home-5">Eventos sobre ?</label>
        <div class="banner-container-p" id="banner-cat" onmousedown="startDragP(event)">
            <div class="banner-cat">
                <div class="banner-cat1">
                <a href="{% url 'home' %}">
                <img src="{% static 'images/placeholder1.jpg' %}" alt="Categoria 1">
                <label for="name">Tecnologia</label>
                </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat2">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder2.jpg' %}" alt="Categoria 2">
                    <label for="name">Saúde</label>
                    </a>
                    </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat3">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder3.jpg' %}" alt="Categoria 3">
                    <label for="name">Educação</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat4">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder4.jpg' %}" alt="Categoria 4">
                    <label for="name">Esportes</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat5">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder5.jpg' %}" alt="Categoria 5">
                    <label for="name">Cultura</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat6">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder6.jpg' %}" alt="Categoria 6">
                    <label for="name">Gastronomia</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat7">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder7.jpg' %}" alt="Categoria 7">
                    <label for="name">Negócios</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat8">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder8.jpg' %}" alt="Categoria 8">
                    <label for="name">Moda</label>
                    </a>
                </div>
            </div>
            <div class="banner-cat">
                <div class="banner-cat9">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/placeholder9.jpg' %}" alt="Categoria 9">
                    <label for="name">Arte</label>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
