{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block 'title' %}Expanda suas ideias conosco!{% endblock %}

{% block 'dashboard' %}
    <div class="banner-t">
        <label for="teste">Eventos em destaque</label>
        <div class="banner-container" id="teste">
            <div class="banner"></div>
            <div class="banner"></div>
            <div class="banner"></div>
            <div class="banner"></div>
            <div class="banner"></div>
        </div>
    </div>

{% endblock %}
