{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'meuseventos/css/meuseventos.css' %}">
{% endblock %}

{% block 'title' %}Meus Eventos{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Horário</th>
                            <th>Editar</th>
                            <th>Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evento in eventos %}
                            <tr>
                                <td>{{ evento.nome }}</td>
                                <td>{{ evento.data }}</td>
                                <td>{{ evento.horario }}</td>
                                <td><a href="{% url 'editar_evento' evento.id %}">Editar</a></td>
                                <td><a href="{% url 'deletar_evento' evento.id %}">Deletar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'eventos' %}" class="btn btn-primary">Criar Evento</a>
            </div>
        </div>
    </div>

    <script src="{% static 'meuseventos/js/meuseventos.js' %}"></script>
{% endblock %}