{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'conta/css/conta.css' %}">
{% endblock %}

{% block 'title' %}Minha Conta{% endblock %}

{% block 'dashboard' %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-md form-conta">
                <form action="{% url 'conta' %}" method="POST" onsubmit="return validarDados()">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nomeConta">Alterar Nome</label>
                        <input type="name" class="form-control" id="name" placeholder="Nome" name="name" value="{{ usuario.name }}">
                    </div>
                    <div class="form-group">
                        <label for="userConta">Alterar Usuário</label>
                        <input type="text" class="form-control" id="username" placeholder="Usuário" name="user" value="{{ usuario.user }}">
                    </div>
                    <div class="form-group">
                        <label for="emailConta">Alterar E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="@email.com" name="email" value="{{ usuario.email }}">
                    </div>
                    <div class="form-group">
                        <label for="senhaConta">Alterar Senha</label>
                        <input type="password" class="form-control" id="password" placeholder="********" name="password">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn-salvar-alt" value="Salvar alterações">
            </div>
        </form>
    {% else %}
    <script>window.location.href = "{% url 'login' %}";</script>
{% endif %}
    </div>
    
    <script src="{% static 'conta/js/conta.js' %}"></script>
    <script>
        function validarDados() {
            var name = document.getElementById("name").value;
            var user = document.getElementById("user").value;
            var email = document.getElementById("email").value;

            if (name === "{{ usuario.name }}" && username === "{{ usuario.user }}" && email === "{{ usuario.email }}") {
                alert("Nenhum dado alterado. Por favor, faça alterações antes de salvar.");
                return false;
            }

            return true;
        }
    </script>
{% endblock %}
