{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'conta/css/conta.css' %}">
{% endblock %}

{% block 'title' %}Minha Conta{% endblock %}

{% block 'dashboard' %}
{% if user.is_authenticated %} 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card-photo">
                    <div class="card-body">
                        <div class="profile-picture-container">
                            <img src="{% static 'images\WIP.png' %}" alt="Foto de Perfil">
                            <div class="profile-picture-overlay">
                                <span class="profile-picture-overlay-text">Alterar Foto</span>
                                <input type="file" name="profile_picture" class="form-control-file" accept="image/*" style="display: none;">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 form-conta">
                <form action="{% url 'conta' %}" method="POST" onsubmit="return validarDados()">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nomeConta">Alterar Nome</label>
                        <input type="text" class="form-control" id="name" placeholder="Nome" name="name" value="{{ usuario.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="sobrenomeConta">Alterar Sobrenome</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Sobrenome" name="lastname" value="{{ usuario.last_name }}">
                    </div>
                    <div class="form-group">
                        <label for="userConta">Alterar Usuário</label>
                        <input type="text" class="form-control" id="username" placeholder="Usuário" name="username" value="{{ usuario.username }}">
                    </div>
                    <div class="form-group">
                        <label for="emailConta">Alterar E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="@email.com" name="email" value="{{ usuario.email }}">
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" value="Salvar alterações" style="margin-bottom: 20px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="{% static 'conta/js/conta.js' %}"></script>
    <script>
        function validarDados() {
            var name = document.getElementById("first_name").value;
            var lastname = document.getElementById("last_name").value;
            var username = document.getElementById("username").value;
            var email = document.getElementById("email").value;

            if (name === "{{ usuario.first_name }}" && "{{ usuario.last_name }}" && && username === "{{ usuario.username }}" && email === "{{ usuario.email }}") {
                alert("Nenhum dado alterado. Por favor, faça alterações antes de salvar.");
                return false;
            }

            return true;
        }
    </script>

    <div id="alert-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% else %}
    <script>window.location.href = "{% url 'login' %}";</script>
{% endif %}
{% endblock %}
