{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuario/css/cadastro.css' %}">
{% endblock %}

{% block 'title' %}
    Crie sua conta
{% endblock %}

{% block 'dashboard' %}
    <a href="{% url 'home' %}">
        <img src="{% static 'images/LOGO-blue.png' %}" alt="Logo" class="logo">
    </a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        {% if messages %}
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form action="{% url 'cadastro' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{ name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Sobrenome</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" value="{{ lastname }}" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Nome de usuário*</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{ username }}" required>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail*</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{ email }}" required>
                            </div>
                            <div class="form-group">
                                <label for="password1">Senha*</label>
                                <input type="password" class="form-control" id="password1" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirme a senha*</label>
                                <input type="password" class="form-control" id="password2" name="confirm_password" required>
                            </div>                            
                            <div class="form-group">
                                <label class="form-group-nc">* Campos obrigatórios</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Cadastrar-se</button>

                            <div class="form-group-lg">
                                <a>Possui uma conta?</a>
                                <a href="{% url 'login' %}">Entre aqui.</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'usuario/js/cadastro.js' %}"></script>
{% endblock %}