{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'cadastro/css/cadastro.css' %}">
{% endblock %}

{% block 'title' %}Crie sua conta{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images\placeholder1.jpg' %}" class="img-fluid" alt="Imagem">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Nome de usuário*</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail*</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password1">Senha*</label>
                                <input type="password" class="form-control" id="password1" name="password1" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirme a senha*</label>
                                <input type="password" class="form-control" id="password2" name="password2" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

