.banner-container-g {
    width: 97%; 
    height: 400px; 
    overflow-x: auto; 
    white-space: nowrap; 
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.banner {
    display: inline-block; 
    width: 500px; 
    height: 375px; 
    background-color: #000000; 
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner-g label{
    font-size: 20px; 
    color: #21325E; 
    margin-left: 30px; 
    margin-top: 20px;
    font-weight: bold;
}

.banner-container-p {
    width: 97%; 
    height: 125px; 
    overflow-x: auto; 
    white-space: nowrap; 
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.banner-cat {
    display: inline-block; 
    width: 150px; 
    height: 100px; 
    background-color: #000000; 
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner-p label{
    font-size: 20px; 
    color: #21325E; 
    margin-left: 30px; 
    margin-top: 20px;
    font-weight: bold;
}