.banner-container-g {
    width: 71%;
    height: 350px;
    overflow-x: hidden;
    white-space: nowrap;
    margin-left: 225px;
    margin-right: 225px;
    margin-bottom: 0px;
}
.banner-container-g.draggable {
    cursor: grab;
}
.banner{
    display: inline-block;
    width: 525px;
    height: 325px;
    background-color: #000000;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.banner-g label{
    font-size: 20px;
    color: #21325E;
    margin-left: 225px;
    margin-top: 15px;
    font-weight: bold;
}
.banner-cat{
    display: inline-block; 
    width: 150px; 
    height: 100px; 
    background-color: #000000; 
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.banner-container-p {
    width: 71%;
    height: 125px;
    overflow-x: hidden;
    white-space: nowrap;
    right: 98px;
    margin-left: 225px;
    margin-right: 225px;
    margin-bottom: 0px;
}
.banner-p label{
    font-size: 20px;
    color: #21325E;
    margin-left: 225px;
    margin-top: 10px;
    font-weight: bold;
}
.banner-container-p.draggable {
    cursor: grab;
}