.banner-container {
    width: 100%; 
    height: 350px; 
    overflow-x: auto; 
    white-space: nowrap; 
    border: 1px solid #ccc;
}

.banner {
    display: inline-block; 
    width: 500px; 
    height: 350px; 
    background-color: #5f2e5b; 
    margin-right: 10px; 
}

.banner-t{
    background-color: var(rgba(255, 255, 255, 0));
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: var(--dark-color);
    display: block;
}
