.form-evento{
    background-color: var(rgba(255, 255, 255, 0));
    width: 100%;
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: left;
    color: var(--dark-color);
    display: block;
}

.banner-form {
    background-color: var(rgba(255, 255, 255, 0));
    width: 500px;
    height: 270px;
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 24px;
    margin-bottom: 40px;
    text-align: left;
    color: var(--dark-color);
    display: block;
}

.banner-form input[type="file"] {
    height: 100%;
    width: 100%;
}

.form-control{
    border: 2px solid #21325E;
    background: #fcf8f8;
}

.btn-criar-evento{
    height: 45px;
    width: 140px;
    background-color: var(--dark-color);
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: 18px;
}

.btn-criar-evento:hover {
    background-color: var(--contrast-color);
}