.form-evento{
    width: 550px;
    text-align: left;
    display: block;
}

.form-control{
    border: 2px solid #21325E;
    background: #fcf8f8;
}

.btn-primary {
    height: 45px;
    width: 140px;
    background-color: var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    color: white;
}