.btn-primary {
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.btn-success {
    padding: 6px;
    height: 38px;
    width: 140px;
}

.modal-backdrop.show {
    display: none;
}