.btn-primary {
    height: 40px;
    width: 140px;
    background-color: var(--dark-color);
    padding: 7px;
    margin-bottom: 15px;
}

.btn-success {
    padding: 6px;
    height: 38px;
    width: 140px;
}

.modal-backdrop.show {
    display: none;
}