.btn-primary {
    width: 117px;
    background-color: var(--dark-color);
    margin-top: 5px;
    margin-bottom: 15px;
}

.btn-success {
    width: 117px;
    margin-top: -10px;
    color: white;
}

.btn-filter {
    height: 38px;
    width: 100px;
    background-color: var(--dark-color);
    padding: 5px;
    color: white;
    margin-right: 10px;
}

.btn-filter:hover {
    background-color: var(--main-color);
}

.form-inline {
    margint-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.modal-backdrop.show {
    display: none;
}
