.btn-primary {
    height: 45px;
    width: 140px;
    background-color: var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
}

.btn-success {
    height: 45px;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
}

.btn-filter {
    height: 38px;
    width: 100px;
    background-color: var(--dark-color);
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
}

.btn-filter:hover {
    background-color: var(--main-color);
}

.form-inline {
    margin: 20px;
    display: flex;
    justify-content: center;
}
