.img-fluid {
    margin-top: 25px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    height: 40px;
    width: 140px;
    color: white;
}

.modal-backdrop.show {
    display: none;
}

.rating {
    display: inline-block;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    padding: 5px;
    font-size: 25px;
    color: #ccc;
}

.rating label.checked ~ label,
.rating label.checked {
    color: #ff9f00;
}