.img-fluid {
    margin-top: 25px;
    max-width: 100%;
    border-radius: 10px;
}

.btn-inscrever {
    margin-top: 20px;
}

.btn-primary {
    height: 45px;
    width: 140px;
    background-color: var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    color: white;
}