.img-fluid {
    margin-top: 25px;
    max-width: 100%;
    border-radius: 10px;
}

.btn-primary {
    height: 40px;
    width: 140px;
    color: white;
}

.modal-backdrop.show {
    display: none;
}

