.card{
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 17%;
    background-color: transparent;
    border: none;
}

.form-control{
    border: 2px solid #21325E;
    background: #fcf8f8;
}

.card .form-group label { 
    color: #21325E;
}

.img-fluid{
    width: 88%;
    height: auto;
    position: absolute;
    display: block;
    top: -77px;
    right: 60px;
}
