.logo {
    max-height: 28px;
    position: absolute;
    top: -70px;
    left: -50px;
    z-index: 999;
}


.card {
    margin: 5%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
    border: 2px solid #21325E;
    background: #fcf8f8;
}

.card .form-group label { 
    color: #21325E;
}

.form-group-lg {
    margin-top: 20px;
    margin-bottom: -15px;
    text-align: center;
}

