.logo {
    max-height: 28px;
    position: absolute;
    top: -70px;
    left: -40px;
    z-index: 999;
}

.card{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 17%;
    background-color: transparent;
    border: none;
}

.form-control{
    border: 2px solid #21325E;
    background: #fcf8f8;
}

.card .form-group label { 
    color: #21325E;
}

.img-fluid{
    width: 92%;
    height: auto;
    position: static;
    display: block;
    margin-top: -13%;
    margin-left: -3%;
    margin-bottom: -15%;
}

.form-group-nc{
    margin-left: 60%;
    background-color: transparent;
    border: none;
}

.form-group-lg{
    margin-top: 5%;
    background-color: transparent;
    border: none;
}