.form-conta{
    margin-left: -50px;
    margin-top: 25px;
    width: 100%;
    text-align: left;
    color: var(--dark-color);
    display: block;
}

.card-photo{
    margin-left: 140px;
    width: 100%;

}

.profile-picture-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture-container:hover .profile-picture-overlay {
    opacity: 1;
}

.profile-picture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.profile-picture-overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-picture-overlay-text {
    color: #fff;
    font-size: 16px;
}

.row{
    justify-content: center;
}

.form-control{
    border: 2px solid #21325E;
    background: #fcf8f8;
}

.btn-primary {
    height: 45px;
    width: 140px;
    background-color: var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    margin-left: -15px;
}

.btn-salvar-alt:hover {
    background-color: var(--contrast-color);
}

