.form-conta{
    background-color: var(rgba(255, 255, 255, 0));
    width: 100%;
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 25px;
    margin-bottom: 18px;
    text-align: left;
    color: var(--dark-color);
    display: block;
}

.form-control{
    border: 2px solid #21325E;
    background: #fcf8f8;
}

.btn-salvar-alt{
    height: 45px;
    width: 170px;
    background-color: var(--dark-color);
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-left: -15px;
}

.btn-salvar-alt:hover {
    background-color: var(--contrast-color);
}

#alert-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.alert {
    position: relative;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    animation: fadeOut 7s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}