{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
{% endblock %}

{% block 'title' %}Crie seu evento{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            {% if perms.eventos.add_evento %}
            <div class="col-md form-evento">
                <form action="{% url 'eventos:eventos' %}" method="POST" id="eventoForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nomeEvento">Nome</label>
                        <input type="text" class="form-control" id="nomeEvento" placeholder="Nome do evento" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="descricaoEvento">Descrição</label>
                        <input type="text" class="form-control" id="descricaoEvento" placeholder="Descrição do evento" name="description" required>
                    </div>
                    <div class="form-group">
                        <label for="localEvento">Local</label>
                        <input type="text" class="form-control" id="localEvento" placeholder="Local do evento" name="local" required>
                    </div>
                    <div class="form-group">
                        <label for="dataEvento">Data</label>
                        <input type="date" class="form-control" id="dataEvento" placeholder="Data do evento" name="date" required>
                    </div>
                </div>
                <div class="col-md form-evento">
                    <div class="form-group">
                        <label for="horarioEvento">Horário</label>
                        <input type="time" class="form-control" id="horarioEvento" placeholder="Horário do evento" name="time" required>
                    </div>
                    <div class="form-group">
                        <label for="limiteInscricoes">Limite de Inscrições</label>
                        <input type="number" class="form-control" id="limiteInscricoes" placeholder="Limite de Inscrições" name="limite_inscricoes">
                    </div>                    
                    <div class="form-group">
                        <label for="categoriaEvento">Categoria</label>
                        <select class="form-control" id="categoriaEvento" name="category" required>
                            <option value="" disabled selected hidden>Escolha uma categoria</option>
                            <option value="Tecnologia">Tecnologia</option>
                            <option value="Saúde">Saúde</option>
                            <option value="Educação">Educação</option>
                            <option value="Esportes">Esportes</option>
                            <option value="Cultura">Cultura</option>
                            <option value="Gastronomia">Gastronomia</option>
                            <option value="Negócios">Negócios</option>
                            <option value="Comemoração">Comemoração</option>
                            <option value="Artes">Artes</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                    <div class="banner-form">
                        <label for="bannerEvento">Insira seu banner</label>
                        <input type="file" class="form-control" id="bannerEvento" name="banner">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Criar evento">
                </div>
            </div>
        </form>
    {% else %}
    <div class="col-md-12">
        <p>Você não tem permissão para criar eventos.</p>
    </div>
    {% endif %}
</div>
{% endblock %}

<script src="{% static 'eventos/js/eventos.js' %}"></script>
<script>
    document.getElementById("eventoForm").addEventListener("submit", function(event) {
        var nomeEvento = document.getElementById("nomeEvento").value;
        var descricaoEvento = document.getElementById("descricaoEvento").value;
        var localEvento = document.getElementById("localEvento").value;
        var dataEvento = document.getElementById("dataEvento").value;
        var horarioEvento = document.getElementById("horarioEvento").value;
        var categoriaEvento = document.getElementById("categoriaEvento").value;
        
        if (!nomeEvento || !descricaoEvento || !localEvento || !dataEvento || !horarioEvento || !categoriaEvento) {
            alert("Por favor, preencha todos os campos obrigatórios.");
            event.preventDefault();
        }
    });
</script>
