{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/meuseventos.css' %}">
{% endblock %}

{% block 'title' %}Enviar Certificados{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'eventos/js/meuseventos.js' %}"></script>
{% endblock %}
