{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/meuseventos.css' %}">
{% endblock %}

{% block 'title' %}Enviar Certificado{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <label for="id_enviar_para_todos">
                            <input type="checkbox" id="id_enviar_para_todos" name="enviar_para_todos">
                            Enviar para todos os participantes
                        </label>
                    </div>
                    <div class="form-group" id="div_participante_selecionado" style="display: none;">
                        <label for="id_participante_selecionado">Selecione o participante:</label>
                        <select class="form-control" id="id_participante_selecionado" name="participante_selecionado">
                            {% for participante in evento.clients.all %}
                                <option value="{{ participante.id }}">{{ participante.username }}</option>
                            {% endfor %}
                        </select>
                    </div>                    
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('id_enviar_para_todos').addEventListener('change', function() {
            var divParticipanteSelecionado = document.getElementById('div_participante_selecionado');
            if (this.checked) {
                divParticipanteSelecionado.style.display = 'none';
            } else {
                divParticipanteSelecionado.style.display = 'block';
            }
        });
    </script>
{% endblock %}
