{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
{% endblock %}

{% block 'title' %}Crie seu evento{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md form-evento">
                <form action="{% url 'eventos' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nome</label>
                        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nome do evento" name="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Descrição</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Descrição do evento" name="discription">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Local</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Local do evento" name="local">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Data</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Data do evento" name="date">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Horário</label>
                        <input type="time" class="form-control" id="exampleFormControlInput1" placeholder="Horário do evento" name="time">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Categoria</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="category">
                            <option>Escolha uma categoria</option>
                            <option>Tecnologia</option>
                            <option>Esportes</option>
                            <option>Artes</option>
                            <option>Educação</option>
                            <option>Outros</option>
                        </select>
                    </div>
            </div>
                <div class="col-md title-banner-evento">
                    <div class="banner-form">
                        <i class='bx bxs-camera-plus' ></i>
                        <label for="exampleFormControlInput1">Insira seu banner</label>
                        <input type="file" class="form-control" id="banner-evento" name="banner">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn-criar-evento" value="Criar evento">
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'eventos/js/eventos.js' %}"></script>
{% endblock %}
