{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/meuseventos.css' %}">
{% endblock %}

{% block 'title' %}Meus Eventos{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evento in eventos %}
                            <tr>
                                <td>{{ evento.name }}</td>
                                <td>{{ evento.date }}</td>
                                <td>
                                    <a href="{% url 'eventos:detalhes_evento' evento.id %}" class="btn btn-info">Detalhes</a>
                                    {% if perms.eventos.change_evento %}
                                        <a href="{% url 'eventos:editar_evento' evento.id %}" class="btn btn-warning">Editar</a>
                                        <a href="#" onclick="confirmarFinalizar('{{ evento.id }}')" class="btn btn-success">Finalizar Evento</a>
                                        <a href="#" onclick="confirmarCancelar('{{ evento.id }}')" class="btn btn-danger">Cancelar Evento</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'eventos/js/meuseventos.js' %}"></script>
    <script>
        function confirmarCancelar(eventoId) {
            if (confirm("Tem certeza de que deseja cancelar este evento?")) {
                window.location.href = "{% url 'eventos:cancelar_evento' id=0 %}".replace('0', eventoId);
            }
        }
        function confirmarFinalizar(eventoId) {
            if (confirm("Tem certeza de que deseja finalizar este evento?")) {
                window.location.href = "{% url 'eventos:finalizar_evento' id=0 %}".replace('0', eventoId);
            }
        }
    </script>
{% endblock %}
