{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/meuseventos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .evento-card {
            display: inline-block;
            width: 263px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }
        .evento-thumbnail {
            width: 100%;
            height: 100px;
            background-size: cover;
            background-position: center;
        }
        .evento-info {
            padding: 10px;
        }
        .col-md-4 {
            margin-right: -90px;
            margin-left: -10px;
        }
    </style>
{% endblock %}

{% block 'title' %}Minhas Inscrições{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>Eventos Ativos</h5>
                <div class="row">
                    {% for evento in eventos %}
                        <div class="col-md-4">
                            <div class="evento-card">
                                {% if evento.banner %}
                                    <div class="evento-thumbnail" style="background-image: url('{{ evento.banner.url }}')"></div>
                                {% else %}
                                    <img src="{% static 'images/placeholder10.jpg' %}" alt="Banner do Evento" class="evento-thumbnail">
                                {% endif %}
                                <div class="evento-info">
                                    <h4>{{ evento.name }}</h4>
                                    <a href="{% url 'eventos:detalhes_evento' evento.id %}" class="btn btn-info">Detalhes</a>
                                    {% if perms.eventos.view_evento %}
                                        {% if request.user not in evento.clients.all %}
                                            <a href="{% url 'eventos:inscricao_evento' evento.id %}" class="btn btn-success">Inscrever-se</a>
                                        {% else %}
                                            <a href="#" onclick="confirmarCancelar('{{ evento.id }}')" class="btn btn-danger">Cancelar Inscrição</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h5>Eventos Finalizados</h5>
                <div class="row" style="margin-bottom: 200px;">
                    {% for evento, certificados in eventos_e_certificados.items %}
                        <div class="col-md-4">
                            <div class="evento-card">
                                {% if evento.banner %}
                                    <div class="evento-thumbnail" style="background-image: url('{{ evento.banner.url }}')"></div>
                                {% else %}
                                    <img src="{% static 'images/placeholder10.jpg' %}" alt="Banner do Evento" class="evento-thumbnail">
                                {% endif %}
                                <div class="evento-info">
                                    <h4>{{ evento.name }}</h4>
                                    <a href="{% url 'eventos:detalhes_evento' evento.id %}" class="btn btn-info">Detalhes</a>
                                    {% if certificados %}
                                        <a href="{% url 'eventos:download_certificado' evento.id %}" class="btn btn-success" style="width: 150px;">
                                            <i class="bx bxs-download"></i> Certificado
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="confirmarModal" tabindex="-1" aria-labelledby="confirmarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarBtn">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'eventos/js/meuseventos.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var eventoIdParaCancelar;

        function confirmarCancelar(eventoId) {
            eventoIdParaCancelar = eventoId;
            $('#confirmarModalLabel').text('Cancelar Inscrição');
            $('#confirmarModal').modal('show');
            $('#confirmarBtn').off('click').on('click', function () {
                window.location.href = "{% url 'eventos:cancelar_inscricao' evento_id=0 %}".replace('0', eventoIdParaCancelar);
            });
        }
    </script>
{% endblock %}
