{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/todosEventos.css' %}">
    <!-- Adicione o CSS do Bootstrap se ainda não estiver incluído -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block 'title' %}Todos os Eventos{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="GET" action="{% url 'eventos:todos_eventos' %}" class="form-inline">
                    <div class="form-group mr-2">
                        <label for="categoria">Filtrar por Categoria:</label>
                        <select class="form-control" id="categoria" name="categoria">
                            <option value="">Todas as categorias</option>
                            <option value="Tecnologia">Tecnologia</option>
                            <option value="Saúde">Saúde</option>
                            <option value="Educação">Educação</option>
                            <option value="Esporte">Esporte</option>
                            <option value="Cultura">Cultura</option>
                            <option value="Gastronomia">Gastronomia</option>
                            <option value="Negócios">Negócios</option>
                            <option value="Moda">Moda</option>
                            <option value="Artes">Artes</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-filter">Filtrar</button>
                    
                    <div class="form-group">
                        <label for="nome">Buscar por Nome:</label>
                        <input type="text" class="form-control mr-2" id="nome" name="nome">
                    </div>
                    <button type="submit" class="btn btn-filter">Buscar</button>
                </form>
            </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Local</th>
                                        <th>Data</th>
                                        <th>Descrição</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for evento in eventos %}
                                        <tr>
                                            <td>{{ evento.name }}</td>
                                            <td>{{ evento.local }}</td>
                                            <td>{{ evento.date }}</td>
                                            <td>{{ evento.description }}</td>
                                            <td>
                                                <a href="{% url 'eventos:detalhes_evento' evento.id %}" class="btn btn-primary">Detalhes</a>
                                                {% if perms.eventos.add_inscricao %}
                                                    {% if request.user not in evento.clients.all %}
                                                        {% if evento.limite_inscricoes is not None and evento.clients.count >= evento.limite_inscricoes %}
                                                            <span class="btn btn-secondary">Vagas Esgotadas</span>
                                                        {% else %}
                                                            <a href="#" class="btn btn-success" onclick="confirmarInscricao('{{ evento.id }}')">Inscrever-se</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="confirmarModal" tabindex="-1" aria-labelledby="confirmarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="confirmarBtn">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'eventos/js/meuseventos.js' %}"></script>
    <!-- Inclua a biblioteca jQuery e o JavaScript do Bootstrap se ainda não estiverem incluídos -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var eventoIdParaInscricao;

        function confirmarInscricao(eventoId) {
            eventoIdParaInscricao = eventoId;
            $('#confirmarModalLabel').text('Inscrever-se no Evento');
            $('#confirmarModal').modal('show');
            $('#confirmarBtn').off('click').on('click', function () {
                window.location.href = "{% url 'eventos:inscricao_evento' evento_id=0 %}".replace('0', eventoIdParaInscricao);
            });
        }
    </script>
{% endblock %}
