{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'eventos/css/meuseventos.css' %}">
{% endblock %}

{% block title %}Enviar Certificados{% endblock %}

{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Enviar Certificados</h1>
                <form method="POST" enctype="multipart/form-data" id="form-certificado">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="certificado">Certificado</label>
                        <input type="file" class="form-control-file" id="certificado" name="certificado">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script src="{% static 'eventos/js/meuseventos.js' %}"></script>
{% endblock %}
