{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/visualizarEvento.css' %}">
{% endblock %}

{% block 'title' %}{{ evento.name }}{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if evento.banner %}
                    <img src="{{ evento.banner.url }}" alt="Banner do Evento" class="img-fluid">
                {% else %}
                    <img src="{% static 'images/placeholder10.jpg' %}" alt="Banner do Evento" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <p>{{ evento.description }}</p>
                        <p><i class='bx bxs-calendar'></i> {{ evento.date }}</p>
                        <p><i class='bx bxs-time'></i> {{ evento.time }}</p>
                        <p><i class='bx bxs-map'></i> {{ evento.local }}</p>
                        <p><i class='bx bxs-category'></i> {{ evento.category }}</p>
                        <p><i class='bx bxs-user'></i> {{ evento.user }}</p>
                    </div>
                </div>
                {% if evento.finalizado %}
                    <div class="text-center mt-4">
                        <p>Evento finalizado</p>
                    </div>
                {% else %}
                    {% if perms.eventos.add_inscricao %}
                        {% if not request.user in evento.clients.all %}
                            <div class="text-center mt-4">
                                <form action="{% url 'eventos:inscricao_evento' evento.id %}" method="post">
                                {% csrf_token %}
                                <a href="{% url 'eventos:inscricao_evento' evento.id %}" class="btn btn-primary" onclick="return confirm('Tem certeza de que deseja se inscrever neste evento?')">Inscrever-se</a>
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if evento.user == request.user %}
                        {% if perms.eventos.add_evento %}
                            {% if not evento.finalizado %}
                                {% if not request.user in evento.clients.all %}
                                    <div class="text-center mt-4">
                                        <form action="{% url 'eventos:inscricao_evento' evento.id %}" method="post">
                                        {% csrf_token %}
                                        <a href="{% url 'eventos:finalizar_evento' evento.id %}" class="btn btn-success" onclick="return confirm('Tem certeza de que deseja finalizar este evento?')">Finalizar Evento</a>
                                        <a href="{% url 'eventos:cancelar_evento' evento.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja cancelar este evento?')">Cancelar Evento</a>
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="text-center mt-4">
                                        <p>Evento finalizado</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if evento.user == request.user %}
    {% if perms.eventos.change_evento %}
    <div class="container mt-4">
        <h2>Lista de Inscritos</h2>
        <ul>
            {% for cliente in evento.clients.all %}
                <p>{{ cliente.username }}</p>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block 'footer' %}
    <script src="{% static 'eventos/js/meuseventos.js' %}"></script>
{% endblock %}
