{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/visualizarEvento.css' %}">
{% endblock %}

{% block 'title' %}{{ evento.name }}{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if evento.banner %}
                    <img src="{{ evento.banner.url }}" alt="Banner do Evento" class="img-fluid">
                {% else %}
                    <img src="{% static 'images/placeholder10.jpg' %}" alt="Banner do Evento" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <p>{{ evento.description }}</p>
                        <p><i class='bx bxs-calendar'></i> {{ evento.date }}</p>
                        <p><i class='bx bxs-time'></i> {{ evento.time }}</p>
                        <p><i class='bx bxs-map'></i> {{ evento.local }}</p>
                        <p><i class='bx bxs-category'></i> {{ evento.category }}</p>
                        <p><i class='bx bxs-user'></i> {{ evento.user }}</p>
                        {% if media_notas %}
                        <p><i class='bx bxs-star'></i> Avaliações: {{ media_notas|default:"Sem avaliações" }}</p>
                        {% endif %}
                        {% if evento.limite_inscricoes %}
                            {% if evento.limite_inscricoes == -1 %}
                                <p><i class='bx bxs-coupon'></i> Não possui limite de inscrições</p>
                            {% elif evento.clients.count >= evento.limite_inscricoes %}
                                <p><i class='bx bxs-coupon'></i> Esgotado</p>
                            {% else %}
                                <p><i class='bx bxs-coupon'></i> {{ evento.clients.count }} / {{ evento.limite_inscricoes }}</p>
                            {% endif %}
                        {% else %}
                            <p><i class='bx bxs-coupon'></i> Não possui limite de inscrições</p>
                        {% endif %}
                    </div>
                </div>
                {% if evento.finalizado %}
                    <div class="text-center mt-4">
                        <p>Evento finalizado</p>
                    </div>
                {% else %}
                    {% if perms.eventos.add_inscricao %}
                        {% if not request.user in evento.clients.all %}
                            {% if evento.limite_inscricoes is not None and evento.clients.count >= evento.limite_inscricoes %}
                                <div class="text-center mt-4">
                                    <p>Não há mais vagas disponíveis para este evento.</p>
                                </div>
                            {% else %}
                                <div class="text-center mt-4">
                                    <button class="btn btn-success" onclick="confirmarInscricao('{{ evento.id }}')">Inscrever-se</button>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if perms.eventos.add_evento %}
    {% if request.user == evento.user %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p></p>
            <h4>Inscritos no Evento</h4>
            <ul>
                {% for cliente in evento.clients.all %}
                    <p>{{ cliente.username }}</p>
                {% empty %}
                    <p>Não há inscritos neste evento ainda.</p>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %} 

    {% if request.user.is_authenticated and request.user in evento.clients.all %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <h4>Comentários</h4>
                <ul>
                    {% for avaliacao in comentarios %}
                        <li id="comentario-{{ avaliacao.id }}">
                            <div id="visualizar-comentario-{{ avaliacao.id }}">
                                <p><i class='bx bxs-user'></i> {{ avaliacao.user.username }}:   <i class='bx bxs-star'></i> {{ avaliacao.nota }}</p>
                                <p><i class='bx bx-comment-detail'></i> {{ avaliacao.comentario }}</p>
                                {% if request.user == avaliacao.user %}
                                <form action="{% url 'eventos:deletar_avaliacao' avaliacao.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                                </form>
                            {% endif %}
                            </div>
                        </li>
                    {% empty %}
                        <p>Não há comentários neste evento ainda.</p>
                    {% endfor %}
                </ul>
                {% if request.user.is_authenticated %}
                {% if not request.user.avaliacao_set.exists %}
                {% if perms.eventos.add_inscricao and evento.finalizado %}
                        <h4>Deixe seu comentário</h4>
                    <form action="{% url 'eventos:enviar_avaliacao' evento.id %}" method="post">
                        {% csrf_token %}
                    <div class="form-group">
                            <label for="id_nota">Nota:</label>
                            <select name="nota" id="id_nota" class="form-control" required>
                                <option value="1">1 estrela</option>
                                <option value="2">2 estrelas</option>
                                <option value="3">3 estrelas</option>
                                <option value="4">4 estrelas</option>
                                <option value="5">5 estrelas</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_comentario">Comentário:</label>
                            <textarea class="form-control" id="id_comentario" name="comentario" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar Avaliação</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    {% endif %}
            </div>
        </div>
    </div>
    {% endif %} 
    
    <!-- Modal de Confirmação -->
    <div class="modal fade" id="confirmarModal" tabindex="-1" aria-labelledby="confirmarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="confirmarBtn">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'eventos/js/meuseventos.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var eventoIdParaInscricao;

        function confirmarInscricao(eventoId) {
            eventoIdParaInscricao = eventoId;
            $('#confirmarModalLabel').text('Inscrever-se no Evento');
            $('#confirmarModal').modal('show');
            $('#confirmarBtn').off('click').on('click', function () {
                window.location.href = "{% url 'eventos:inscricao_evento' evento_id=0 %}".replace('0', eventoIdParaInscricao);
            });
        }
    </script>
{% endblock %}
