{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/meuseventos.css' %}">
{% endblock %}

{% block 'title' %}('nome do evento'){% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">('nome do evento')</h1>
                <p class="lead">('descrição do evento')</p>
                <p class="lead">('data do evento')</p>
                <p class="lead">('local do evento')</p>
                <p class="lead">('endereço do evento')</p>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'eventos:editar' %}" class="btn btn-primary btn-lg btn-block">Editar</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'eventos:excluir' %}" class="btn btn-danger btn-lg btn-block">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'footer' %}
    <script src="{% static 'eventos/js/meuseventos.js' %}"></script>
{% endblock %}